In [1]:
import os
import pandas as pd
import altair as alt

In [2]:
os.listdir(os.path.join("..", "data", "nintendo"))

['3DS.csv', 'DS.csv', 'Gamecube.csv', 'Switch.csv', 'Wii_WiiU.csv']

In [3]:
filename = "3DS.csv"

In [4]:
df = pd.read_csv(os.path.join("..", 'data', "nintendo", filename))
df

,Product,Group,Geo,FY3/2011,FY3/2012,FY3/2013,FY3/2014,FY3/2015,FY3/2016,FY3/2017,FY3/2018,FY3/2019,FY3/2020,FY3/2021,FY3/2022,FY3/2023
0,3DS XL,2DS/3DS,Japan,NaN,NaN,314,312,76,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3DS XL,2DS/3DS,The Americas,NaN,NaN,214,259,162,28,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3DS XL,2DS/3DS,Other,NaN,NaN,250,217,103,20,6,NaN,NaN,NaN,NaN,NaN,NaN
3,2DS,2DS/3DS,Japan,NaN,NaN,NaN,NaN,NaN,10,49,6,NaN,NaN,NaN,NaN,NaN
4,2DS,2DS/3DS,The Americas,NaN,NaN,NaN,114,63,45,77,112,62.0,10.0,NaN,NaN,NaN
5,2DS,2DS/3DS,Other,NaN,NaN,NaN,106,92,62,124,81,26.0,10.0,NaN,NaN,NaN
6,New 3DS,2DS/3DS,Japan,NaN,NaN,NaN,NaN,59,45,12,1,NaN,NaN,NaN,NaN,NaN
7,New 3DS,2DS/3DS,The Americas,NaN,NaN,NaN,NaN,NaN,11,40,NaN,NaN,NaN,NaN,NaN,NaN
8,New 3DS,2DS/3DS,Other,NaN,NaN,NaN,NaN,23,47,13,NaN,NaN,NaN,NaN,NaN,NaN
9,New 3DS XL,2DS/3DS,Japan,NaN,NaN,NaN,NaN,134,158,138,54,9.0,NaN,NaN,NaN,NaN
10,New 3DS XL,2DS/3DS,The Americas,NaN,NaN,NaN,NaN,67,141,139,85,8.0,NaN,NaN,NaN,NaN
11,New 3DS XL,2DS/3DS,Other,NaN,NaN,NaN,NaN,44,85,125,31,6.0,NaN,NaN,NaN,NaN
12,New 2DS XL,2DS/3DS,Japan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,78,38.0,8.0,NaN,NaN,NaN
13,New 2DS XL,2DS/3DS,The Americas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,89,58.0,19.0,17.0,NaN,NaN
14,New 2DS XL,2DS/3DS,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,47.0,22.0,NaN,NaN,NaN
15,Software,2DS/3DS,Japan,218.0,"1,113","2,116","2,677","2,402","2,034","1,784","1,118",233.0,48.0,65.0,34.0,117.0
16,Software,2DS/3DS,The Americas,394.0,"1,264","1,617","2,273","2,131","1,487","1,905","1,212",570.0,234.0,153.0,103.0,102.0
17,Software,2DS/3DS,Other,331.0,"1,222","1,228","1,839","1,742","1,331","1,820","1,234",519.0,217.0,121.0,70.0,64.0
18,3DS,2DS/3DS,Japan,106.0,479,255,123,38,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,3DS,2DS/3DS,The Americas,132.0,467,213,60,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,3DS,2DS/3DS,Other,123.0,406,150,33,12,4,5,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.iloc[:, 3:] = df.iloc[:, 3:].fillna("0").astype("string").apply(lambda x: x.str.replace(',', '').apply(lambda x: x.split(".")[0]).astype(int))
df

,Product,Group,Geo,FY3/2011,FY3/2012,FY3/2013,FY3/2014,FY3/2015,FY3/2016,FY3/2017,FY3/2018,FY3/2019,FY3/2020,FY3/2021,FY3/2022,FY3/2023
0,3DS XL,2DS/3DS,Japan,0.0,0,314,312,76,3,0,0,0.0,0.0,0.0,0.0,0.0
1,3DS XL,2DS/3DS,The Americas,0.0,0,214,259,162,28,0,0,0.0,0.0,0.0,0.0,0.0
2,3DS XL,2DS/3DS,Other,0.0,0,250,217,103,20,6,0,0.0,0.0,0.0,0.0,0.0
3,2DS,2DS/3DS,Japan,0.0,0,0,0,0,10,49,6,0.0,0.0,0.0,0.0,0.0
4,2DS,2DS/3DS,The Americas,0.0,0,0,114,63,45,77,112,62.0,10.0,0.0,0.0,0.0
5,2DS,2DS/3DS,Other,0.0,0,0,106,92,62,124,81,26.0,10.0,0.0,0.0,0.0
6,New 3DS,2DS/3DS,Japan,0.0,0,0,0,59,45,12,1,0.0,0.0,0.0,0.0,0.0
7,New 3DS,2DS/3DS,The Americas,0.0,0,0,0,0,11,40,0,0.0,0.0,0.0,0.0,0.0
8,New 3DS,2DS/3DS,Other,0.0,0,0,0,23,47,13,0,0.0,0.0,0.0,0.0,0.0
9,New 3DS XL,2DS/3DS,Japan,0.0,0,0,0,134,158,138,54,9.0,0.0,0.0,0.0,0.0
10,New 3DS XL,2DS/3DS,The Americas,0.0,0,0,0,67,141,139,85,8.0,0.0,0.0,0.0,0.0
11,New 3DS XL,2DS/3DS,Other,0.0,0,0,0,44,85,125,31,6.0,0.0,0.0,0.0,0.0
12,New 2DS XL,2DS/3DS,Japan,0.0,0,0,0,0,0,0,78,38.0,8.0,0.0,0.0,0.0
13,New 2DS XL,2DS/3DS,The Americas,0.0,0,0,0,0,0,0,89,58.0,19.0,17.0,0.0,0.0
14,New 2DS XL,2DS/3DS,Other,0.0,0,0,0,0,0,0,104,47.0,22.0,0.0,0.0,0.0
15,Software,2DS/3DS,Japan,218.0,1113,2116,2677,2402,2034,1784,1118,233.0,48.0,65.0,34.0,117.0
16,Software,2DS/3DS,The Americas,394.0,1264,1617,2273,2131,1487,1905,1212,570.0,234.0,153.0,103.0,102.0
17,Software,2DS/3DS,Other,331.0,1222,1228,1839,1742,1331,1820,1234,519.0,217.0,121.0,70.0,64.0
18,3DS,2DS/3DS,Japan,106.0,479,255,123,38,20,0,0,0.0,0.0,0.0,0.0,0.0
19,3DS,2DS/3DS,The Americas,132.0,467,213,60,1,0,0,0,0.0,0.0,0.0,0.0,0.0
20,3DS,2DS/3DS,Other,123.0,406,150,33,12,4,5,0,0.0,0.0,0.0,0.0,0.0

In [6]:
index_cols = ["Product", "Group", "Geo"]
df = df.melt(id_vars=index_cols, var_name="Date", value_name="Qty")
df

      Product    Group           Geo      Date    Qty
0      3DS XL  2DS/3DS         Japan  FY3/2011    0.0
1      3DS XL  2DS/3DS  The Americas  FY3/2011    0.0
2      3DS XL  2DS/3DS         Other  FY3/2011    0.0
3         2DS  2DS/3DS         Japan  FY3/2011    0.0
4         2DS  2DS/3DS  The Americas  FY3/2011    0.0
..        ...      ...           ...       ...    ...
268  Software  2DS/3DS  The Americas  FY3/2023  102.0
269  Software  2DS/3DS         Other  FY3/2023   64.0
270       3DS  2DS/3DS         Japan  FY3/2023    0.0
271       3DS  2DS/3DS  The Americas  FY3/2023    0.0
272       3DS  2DS/3DS         Other  FY3/2023    0.0

[273 rows x 5 columns]

In [7]:
df['dt'] = pd.to_datetime(df['Date'].str.replace('FY3/', '') + '-03-31')
df

      Product    Group           Geo      Date    Qty         dt
0      3DS XL  2DS/3DS         Japan  FY3/2011    0.0 2011-03-31
1      3DS XL  2DS/3DS  The Americas  FY3/2011    0.0 2011-03-31
2      3DS XL  2DS/3DS         Other  FY3/2011    0.0 2011-03-31
3         2DS  2DS/3DS         Japan  FY3/2011    0.0 2011-03-31
4         2DS  2DS/3DS  The Americas  FY3/2011    0.0 2011-03-31
..        ...      ...           ...       ...    ...        ...
268  Software  2DS/3DS  The Americas  FY3/2023  102.0 2023-03-31
269  Software  2DS/3DS         Other  FY3/2023   64.0 2023-03-31
270       3DS  2DS/3DS         Japan  FY3/2023    0.0 2023-03-31
271       3DS  2DS/3DS  The Americas  FY3/2023    0.0 2023-03-31
272       3DS  2DS/3DS         Other  FY3/2023    0.0 2023-03-31

[273 rows x 6 columns]

In [8]:
df = df.sort_values(["Group", "dt"], ascending=[True, True])

In [9]:
df["Qty"] = df["Qty"] * (10_000 / int(1e6))  # ten thousands to millions of units

In [10]:
year_max = 2023

df_filtered = df[df["dt"].dt.year <= year_max]

geo_totals = df_filtered[~df_filtered.Product.isin(["Software"])].groupby(["dt", "Geo"])["Qty"].sum().reset_index()
fy_totals = df_filtered[~df_filtered.Product.isin(["Software"])].groupby(["dt"])["Qty"].sum().reset_index()
# create a dense rank of "dt" column over each "Group" value, ensure dt is sorted first in ascending order

df_models = df_filtered.copy()
filter_rows = True
filter_rows &= ~df_models.Product.isin(["Software"])
# filter_rows &= df_models.Qty > 0
df_models = df_models[filter_rows]
df_models["GroupRank"] = df_models.groupby(["Product"])["dt"].rank(method="dense", ascending=True)

model_totals = df_models.groupby(["Product", "GroupRank", "dt"])["Qty"].sum().reset_index()
model_totals

       Product  GroupRank         dt   Qty
0          2DS        1.0 2011-03-31   0.0
1          2DS        2.0 2012-03-31   0.0
2          2DS        3.0 2013-03-31   0.0
3          2DS        4.0 2014-03-31   2.2
4          2DS        5.0 2015-03-31  1.55
..         ...        ...        ...   ...
73  New 3DS XL        9.0 2019-03-31  0.23
74  New 3DS XL       10.0 2020-03-31   0.0
75  New 3DS XL       11.0 2021-03-31   0.0
76  New 3DS XL       12.0 2022-03-31   0.0
77  New 3DS XL       13.0 2023-03-31   0.0

[78 rows x 4 columns]

In [13]:
consoles_order = ["Gamecube", "Wii", "Wii U", "DS", "DS Lite", "DSi", "DSi XL", "3DS", "3DS XL", "2DS", "New 3DS", "New 3DS XL", "New 2DS XL", "Switch", "Switch Lite", "Switch – OLED Model"]
model_totals_chart = alt.Chart(model_totals).mark_line(point={"shape": "square", "size": 50}).encode(
    x=alt.X('dt:T'),
    y=alt.Y('Qty:Q'),
    color=alt.Color('Product:N').sort(consoles_order)
)

fiscal_year_totals_chart = alt.Chart(fy_totals).mark_line(color='black', strokeDash=[5, 5], point={"shape": "square", "size": 50, "color": "black"}).encode(
    x=alt.X('dt:T'),
    y=alt.Y('Qty:Q'),
)


chart = fiscal_year_totals_chart + model_totals_chart
chart.interactive()

alt.LayerChart(...)

In [12]:
chart.save("../figs/3DS_Models_vs_Total.png")