In [1]:
import os
import pandas as pd
import altair as alt

In [2]:
os.listdir(os.path.join("..", "data", "nintendo"))

['3DS_up_to_ FY3_2023.csv',
 'DS_up_to_FY3_2023.csv',
 'Gamecube_up_to_FY3_2023.csv',
 'switch_up_to_FY3_2023.csv',
 'Wii_WiiU_up_to_FY3_2023.csv']

In [3]:
filename = "switch_up_to_FY3_2023.csv"

In [4]:
df = pd.read_csv(os.path.join("..", 'data', "nintendo", filename))
df

,Product,Group,Geo,FY3/2017,FY3/2018,FY3/2019,FY3/2020,FY3/2021,FY3/2022,FY3/2023
0,Nintendo Switch,Standard,Japan,60.0,378,385,321,478,256,95
1,Nintendo Switch,Standard,The Americas,120.0,594,688,578,707,522,267
2,Nintendo Switch,Standard,Europe,76.0,379,455,400,502,404,211
3,Nintendo Switch,Standard,Other,18.0,154,169,185,345,174,40
4,Nintendo Switch – OLED Model,OLED,Japan,NaN,NaN,NaN,NaN,NaN,161,284
5,Nintendo Switch – OLED Model,OLED,The Americas,NaN,NaN,NaN,NaN,NaN,194,288
6,Nintendo Switch – OLED Model,OLED,Europe,NaN,NaN,NaN,NaN,NaN,112,238
7,Nintendo Switch – OLED Model,OLED,Other,NaN,NaN,NaN,NaN,NaN,113,112
8,Nintendo Switch Lite,Lite,Japan,NaN,NaN,NaN,200,181,102,58
9,Nintendo Switch Lite,Lite,The Americas,NaN,NaN,NaN,233,409,159,142
10,Nintendo Switch Lite,Lite,Europe,NaN,NaN,NaN,134,213,86,49
11,Nintendo Switch Lite,Lite,Other,NaN,NaN,NaN,53,48,22,13
12,Software,Switch,Japan,89.0,"1,226","2,148","3,256","4,502","4,214","4,579"
13,Software,Switch,The Americas,286.0,"2,752","5,394","7,428","10,242","10,827","8,700"
14,Software,Switch,Europe,142.0,"1,917","3,516","5,017","6,624","6,578","6,298"
15,Software,Switch,Other,29.0,456,797,"1,171","1,720","1,888","1,820"

In [5]:
df.iloc[:, 3:] = df.iloc[:, 3:].fillna("0").astype("string").apply(lambda x: x.str.replace(',', '').apply(lambda x: x.split(".")[0]).astype(int))
df

,Product,Group,Geo,FY3/2017,FY3/2018,FY3/2019,FY3/2020,FY3/2021,FY3/2022,FY3/2023
0,Nintendo Switch,Standard,Japan,60.0,378,385,321,478,256,95
1,Nintendo Switch,Standard,The Americas,120.0,594,688,578,707,522,267
2,Nintendo Switch,Standard,Europe,76.0,379,455,400,502,404,211
3,Nintendo Switch,Standard,Other,18.0,154,169,185,345,174,40
4,Nintendo Switch – OLED Model,OLED,Japan,0.0,0,0,0,0,161,284
5,Nintendo Switch – OLED Model,OLED,The Americas,0.0,0,0,0,0,194,288
6,Nintendo Switch – OLED Model,OLED,Europe,0.0,0,0,0,0,112,238
7,Nintendo Switch – OLED Model,OLED,Other,0.0,0,0,0,0,113,112
8,Nintendo Switch Lite,Lite,Japan,0.0,0,0,200,181,102,58
9,Nintendo Switch Lite,Lite,The Americas,0.0,0,0,233,409,159,142
10,Nintendo Switch Lite,Lite,Europe,0.0,0,0,134,213,86,49
11,Nintendo Switch Lite,Lite,Other,0.0,0,0,53,48,22,13
12,Software,Switch,Japan,89.0,1226,2148,3256,4502,4214,4579
13,Software,Switch,The Americas,286.0,2752,5394,7428,10242,10827,8700
14,Software,Switch,Europe,142.0,1917,3516,5017,6624,6578,6298
15,Software,Switch,Other,29.0,456,797,1171,1720,1888,1820

In [6]:
index_cols = ["Product", "Group", "Geo"]
df = df.melt(id_vars=index_cols, var_name="Date", value_name="Qty")
df

                          Product     Group           Geo      Date    Qty
0                 Nintendo Switch  Standard         Japan  FY3/2017   60.0
1                 Nintendo Switch  Standard  The Americas  FY3/2017  120.0
2                 Nintendo Switch  Standard        Europe  FY3/2017   76.0
3                 Nintendo Switch  Standard         Other  FY3/2017   18.0
4    Nintendo Switch – OLED Model      OLED         Japan  FY3/2017    0.0
..                            ...       ...           ...       ...    ...
107          Nintendo Switch Lite      Lite         Other  FY3/2023     13
108                      Software    Switch         Japan  FY3/2023   4579
109                      Software    Switch  The Americas  FY3/2023   8700
110                      Software    Switch        Europe  FY3/2023   6298
111                      Software    Switch         Other  FY3/2023   1820

[112 rows x 5 columns]

In [7]:
df['dt'] = pd.to_datetime(df['Date'].str.replace('FY3/', '') + '-03-31')
df

,Product,Group,Geo,Date,Qty,dt
0,Nintendo Switch,Standard,Japan,FY3/2017,60.0,2017-03-31
1,Nintendo Switch,Standard,The Americas,FY3/2017,120.0,2017-03-31
2,Nintendo Switch,Standard,Europe,FY3/2017,76.0,2017-03-31
3,Nintendo Switch,Standard,Other,FY3/2017,18.0,2017-03-31
4,Nintendo Switch – OLED Model,OLED,Japan,FY3/2017,0.0,2017-03-31
...,...,...,...,...,...,...
107,Nintendo Switch Lite,Lite,Other,FY3/2023,13,2023-03-31
108,Software,Switch,Japan,FY3/2023,4579,2023-03-31
109,Software,Switch,The Americas,FY3/2023,8700,2023-03-31
110,Software,Switch,Europe,FY3/2023,6298,2023-03-31
111,Software,Switch,Other,FY3/2023,1820,2023-03-31

In [8]:
df = df.sort_values(["Group", "dt"], ascending=[True, True])

In [9]:
df["Qty"] = df["Qty"] * (10_000 / int(1e6))  # ten thousands to millions of units

In [10]:
geo_totals = df[~df.Product.isin(["Software"])].groupby(["dt", "Geo"])["Qty"].sum().reset_index()
fy_totals = df[~df.Product.isin(["Software"])].groupby(["dt"])["Qty"].sum().reset_index()
# create a dense rank of "dt" column over each "Group" value, ensure dt is sorted first in ascending order

df_models = df.copy()
filter_rows = True
filter_rows &= ~df_models.Product.isin(["Software"])
# filter_rows &= df_models.Qty > 0
df_models = df_models[filter_rows]
df_models["GroupRank"] = df_models.groupby(["Group"])["dt"].rank(method="dense", ascending=True)

model_totals = df_models.groupby(["Group", "GroupRank", "dt"])["Qty"].sum().reset_index()
model_totals

       Group  GroupRank         dt    Qty
0       Lite        1.0 2017-03-31    0.0
1       Lite        2.0 2018-03-31    0.0
2       Lite        3.0 2019-03-31    0.0
3       Lite        4.0 2020-03-31    6.2
4       Lite        5.0 2021-03-31   8.51
5       Lite        6.0 2022-03-31   3.69
6       Lite        7.0 2023-03-31   2.62
7       OLED        1.0 2017-03-31    0.0
8       OLED        2.0 2018-03-31    0.0
9       OLED        3.0 2019-03-31    0.0
10      OLED        4.0 2020-03-31    0.0
11      OLED        5.0 2021-03-31    0.0
12      OLED        6.0 2022-03-31    5.8
13      OLED        7.0 2023-03-31   9.22
14  Standard        1.0 2017-03-31   2.74
15  Standard        2.0 2018-03-31  15.05
16  Standard        3.0 2019-03-31  16.97
17  Standard        4.0 2020-03-31  14.84
18  Standard        5.0 2021-03-31  20.32
19  Standard        6.0 2022-03-31  13.56
20  Standard        7.0 2023-03-31   6.13

In [11]:
model_totals_chart = alt.Chart(model_totals).mark_line(point={"shape": "square", "size": 50}).encode(
    x=alt.X('dt:T'),
    y=alt.Y('Qty:Q'),
    color=alt.Color('Group:N')
)

fiscal_year_totals_chart = alt.Chart(fy_totals).mark_line(color='black', strokeDash=[5, 5], point={"shape": "square", "size": 50, "color": "black"}).encode(
    x=alt.X('dt:T'),
    y=alt.Y('Qty:Q'),
)


chart = fiscal_year_totals_chart + model_totals_chart
chart.interactive()

alt.LayerChart(...)